*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Segoe UI', sans-serif;;
    font-size: 1rem;
    line-height: 1.6;
    height: 100%;
}
.favicon-grabber
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.favicon{
    width: 350px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 2rem;
    background: grey;
    border-radius: 10px;
}
.favicon-input{
    background:white;
    border: 1px solid gray;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
}
.favicon-group{
    margin-bottom: 1rem;
}
.favicon-button{
    background: rgb(90, 85, 85);
    border: 1px solid gray;
    color: white;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 10px;
}
.favicon-button:hover{
    background: black;
}
.favicon-header{
    text-align: center;
}
.favicon-footer{
    text-align: center;
}